.page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(270deg, #a200ff, #73b0f5);
  background-size: 800% 800%;
  animation: moveGradient 10s ease infinite;
  display: flex;
  justify-content: center;
}

.title {
  width: 100%;
  font-size: 20px;
  cursor: default;
  margin: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  height: 40px;
  font-family: "Urbanist", sans-serif;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  font-weight: 900;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.buttons:hover {
  transition: all 0.3s ease;
  background-color: white;
  color: #73b0f5;
  border: 3px solid #73b0f5;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}